/* seleccionas donde quieres aplicar el cambio Y le aplicas la propiedades que tu quieras

    #nombre del id
    .nombre de la class

solo puede haber un solo id con ese nombre por pagina pero class si puede ser reutilizado.
*/

/*
    color: Cambiar el color de la fuente (hexadecimal, rgba, hsla ).

    line-height: tamaño del interlineado.

    text-decolation; quitar el subrayado.
    text-align: alinea el contenido
    text-transform: transforma a mayusculas o mixeados ( lowercase, uppercase, capitalize).

    font-family: para escoger el tipo de fuente, puedes buscar nuevas fuentes en google fonts.
    font-size: Cambiar el tamaño de la fuente (px, em, rem)
    font-weigth: Cambia el grueso de la fuente.

    background-color: Cambiar el color de fondo.
    background: url(...) establecer imagen de fondo (es generico)
    background-position: posición de la imagen.
    background-size: cover; forzar a tomar todo el anchp y alto, guardando las proporciones.

    height: le da la altura que tu desees.
    min-height: la minima altura que va a medir la clase.

    NOTA: margin es el tamaño hacia afuera, padding es hacia adentro y border es la línea divisora.

    margin: le estableces el tamaño del margen (arriba, derecha, abajo, izquierda)

    padding: establece el tamaño del padding.

    border-style: el estilo del borde.
    border-color: el color del borde.
    border-width: el ancho del borde.

    display: flex; habilita flexbox
    justify-content; alínea el contenedor a donde quieras de manera hoizontal.
    flex-direction: indica haci que orden va a ordenar
    align-items; alínea el contenedor a donde quieras de manera vertical.
    flex-basis: es como width

    :last-of-type es para que se lo aplique solo al ultimo elemento
    
    :hover es para que se lo aplique al que señala el cursor.
*/

/** Globales **/

*, *:before, *:after{ /** para que el tamaño total no sea la suma entre el margin y el padding, sino que le podamos establecer nosotros el tamaño total**/
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMs -62.5% = 10px de 16px**/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img{
    max-width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

h5{
    font-size: 2.2rem;
}

h6{
    font-size: 1.8rem;
}

/*** Utilidades */
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.d-block{
    display: block !important;
}

.contenido-centrado {
    max-width: 80rem;
}
/** Botones **/

.boton:hover{
    cursor: pointer;
}

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;

    display: inline-block /**poder habilitar margin-top en botones**/;
    margin-top: 1rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
    display: block;
    flex: 0 0 100%;
}

@media(min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton-amarillo{
    background-color: #E08709;
}

.boton-verde{
    background-color: #71B100;
}

/** Header **/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media(min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1{
    color: white;
    padding-bottom: 3rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 3rem;
}

@media(min-width: 768px ) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Empieza la barra de links*/
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

@media(min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }

    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover{
    color: #71B100;
}

/** mobile menu **/

.mobile-menu img {
    width: 5rem;
}

@media(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.navegacion:target {
    display: block;
}

.navegacion {
    display: none;
}

@media(min-width: 768px ) {
    .navegacion {
        display: block;
    }
}
/* iconos de la seccion "Nosotros" */

.icono {
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

@media(min-width: 768px ) {
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    
    }
    
    .icono{
        flex-basis: calc( 33.3% - 1 rem );
    }
}

/** Anuncios (Main) **/
@media(min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }   
}

.anuncio{
    /*
    flex-grow: 1; si le permite crecer o no, si es posible
    flex-shrink: 0; si le permite hacerse pequeño, si es posible
    flex-basis: calc(33.3% - 1rem); tam de la base

    border-style: solid;
    border-color: #b5b5b5;
    border-width: 1px;*/

    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    .anuncio {
        /*flex: grow shrink basis*/
        flex: 0 0 calc( 33.3% - 1rem );
    }
}

.contenido-anuncio{
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

    max-width: 50rem;
    flex: 1;
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;

    display: flex;
    align-items: center;
}

.cotenido-contacto{
    flex: 0 0 95%; /* Divide el 100% en 1 */
    color: white;

}

.cotenido-contacto p {
    font-size: 1.8rem;
}

/**Seccion inferior**/
@media(min-width: 768px ) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }

    .seccion-inferior .blog {
        flex-basis: 60%;
    }

    .seccion-inferior .testimoniales {
        flex-basis: calc( 40% - 2rem);
    }
}

.entrada-blog{
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    
    .entrada-blog .texto-entrada{
        flex-basis: calc( 60% - 2rem);
    
    }
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

/** testimonialels **/
.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute; /*Para poder mover el elemento */
    left: -2rem;
}

.testimonial blockquote {
    position: relative;/* importante para que sus hijos se muevan*/
    padding-left: 5rem;
    font-weight: 300;
}

/** footer **/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0rem;
    text-align: center;
}

@media(min-width: 768px ) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav {
    display: none;
}

@media(min-width: 768px ) {
    .site-footer nav{
        display: block;
    }
}
.copyright{
    color: white;
    margin: 0;
}

/** INTERNAS **/

/* Nosotros */
@media(min-width: ) {
    .contenido-nosotros{
        display: grid;
        /* a cada columna le voy a asignar 1/n */
        grid-template-columns: repeat(2,1fr);
    
        /* dale espacio entre columnas*/
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/* Anuncio */
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Contacto **/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend{
    font-size: 2rem;
    color: #4f4f4f;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]), textarea, select
{
    padding: 1rem;, 
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"]{
    width: auto;
    margin: 0;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

textarea{
    height: 20rem;

}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}